@import 'bootstrap/dist/css/bootstrap.rtl.min.css';

/* main colors */
.bg-primary,
.btn-primary {
    background-color: #464687 !important;
    border-color: #464687 !important;
}

.btn-primary:hover {
    background-color: #1da58d !important;
    border-color: #1da58d !important;
}

/* logo */
.logo {
    background-image: url('../images/L5.png');
}

.logo-white {
    background-image: url('../images/L5.png');
    filter: brightness(0) invert(1);

}

/* pagination links */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-link,
.current,
.disabled {
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    margin: 0 5px;
}

.pagination-link {
    color: #007bff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.current {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.disabled {
    color: #ccc;
    pointer-events: none;
}